
/* reset css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* standart Backround color */
.bg-standart{
    background-color: #415a77;
}

/* Word Section BG */
.bg-word{
    background-color:  #F8F9FA;
}

/* About page Work section bg */

.bg-work{
    background-color: #F8F9FA;
}